build/*
build_test/*
.cache/*
src/gitversion.hpp

**/[Dd]ebug/
**/[Rr]elease/

test/MCUViewer_test/.settings/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.out
*.app

# Log files
*.csv