build/*
build_test/*
.vscode/*
.cache/*
src/gitversion.hpp

**/[Dd]ebug/
**/[Rr]elease/

Project4.cfg
Project5.cfg
MD80.cfg
MD80_copy.cfg
MD80_older.cfg
MD80_test.cfg

test/STMViewer_test/.settings/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
