[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=STMViewer
Path=/usr/local/STMViewer
Icon=/usr/local/STMViewer/icon.png
Exec=/usr/local/STMViewer/STMViewer
Categories=Development;
