[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=MCUViewer
Path=/usr/local/MCUViewer
Icon=/usr/local/MCUViewer/icon.png
Exec=/usr/local/MCUViewer/MCUViewer
Categories=Development;
